@model List<User>

<a asp-action="Register">Register new user</a>

<table>
    <tr>
        <td>Name</td>
        <td>Username</td>
        <td>Email</td>
        <td>Phone</td>
    </tr>
@foreach(var user in Model)
{
    <tr>
        <th>@user.FirstName</th>
        <th>@user.Username</th>
        <th>@user.Email</th>
        <th>@user.Phone</th>
    </tr>   
}
</table>