@model AuthenticationHW.ViewModel.LoginViewModel;

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Login" class="form-control">
    <label asp-for="EmailAddress"></label>
    <input asp-for="EmailAddress" />
    <span asp-validation-for="EmailAddress"></span>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <input type="submit" />
</form>

<a asp-action="Register">Register</a>