@model IEnumerable<MVCSTEP.ViewModels.UserViewModel>


<h3>Users</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Roles
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Roles)
            </td>
            <td>
                <a asp-action="EditUser" asp-route-id="@user.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>