<select form="pageform" name="options.searchpropertyname" class="form-control">
    @foreach (string s in ViewBag.searches as string[])
    {
        <option value="@s" selected="@(Model.Options.SearchPropertyName == s)">
            @(
            s switch
            {
                "Email" => "Емейл",
                "PhoneNumber" => "Телефон",
                _ => s
            }
            )
        </option>
    }
</select>
 
<input form="pageform" name="options.searchterm" value="@Model.Options.SearchTerm" placeholder="Поиск..." class="form-control input-lg ui-autocomplete-input" />
<span class="btn-search input-group-btn">
    <button form="pageform" type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
</span>