@model MVCSTEP.ViewModels.ChangePasswordViewModel

<form asp-action="ChangePassword">
    <label asp-for="OldPassword"></label>
    <input asp-for="OldPassword"/>
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword"/>
    <label asp-for="ConfirmNewPassword"></label>
    <input asp-for="ConfirmNewPassword"/>
    <input type="submit" value="Change"/>
</form>