@model MVCSTEP.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
 
<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Изменение пароля для пользователя @Model.Email</h2>
    <a asp-controller="Account" asp-action="Settings">Аккаунт</a>
    <div class="row g-4 py-5 row-cols-1">
        <div class="p-5 mb-4 bg-light rounded-3 ">
            <form asp-action="ChangePassword" asp-controller="Account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
 
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />
 
                <div class="form-group">
                    <label asp-for="OldPassword" class="control-label"></label>
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPasswordConfirm" class="control-label"></label>
                    <input asp-for="NewPasswordConfirm" class="form-control" />
                    <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Изменить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
 
@*Для валидации модели на клиенте*@
@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}