@model MVCSTEP.ViewModels.ResetPasswordViewModel

<h3>Reset Password</h3>
<form asp-action="ResetPasswordConfirm">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword" />
    <label asp-for="ConfirmNewPassword"></label>
    <input asp-for="ConfirmNewPassword" />
    <input type="submit" value="Reset" />
</form>