@model string?

<h3>Reset password</h3>
@if (TempData.ContainsKey("ResetPasswordSuccess"))
{
    <h4>@TempData["ResetPasswordSuccess"]</h4>
}
<form asp-action="ResetPassword">
    <span class="text-danger">@TempData["ResetPasswordError"]<</span>
    <input name="email" />
    <input type="submit" value="Reset"/>
</form>