@using System.Collections
@using MVCSTEP.Models
@model User

@{
    Layout = null;
    var errors =  ViewData["errors"] as IEnumerable<string>;
}

@{
    if (errors != null)
    {
        foreach (var er in errors)
        {
            <p>@er</p>
        }
    }
}

<form action="Register" method="post">
    <label asp-for="Username">Username</label>
    <input asp-for="Username" />
    <label asp-for="Email">Email</label>
    <input asp-for="Email" />
    <label asp-for="Password">Password</label>
    <input asp-for="Password" />
    <label asp-for="ConfirmPassword">ConfirmPassword</label>
    <input asp-for="ConfirmPassword" />
    <input type="submit" value="Register"/>
</form>