@{
    Layout = "_PanelLayout.cshtml";
    ViewData["Title"] = "Главная";
}
 
<div class="breadcrumb-main">
    <div class="breadcrumb-container clearfix">
        <h1 class="page-title">Панель управления</h1>
 
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Panel">Главная</a></li>
        </ul>
    </div>
</div>
 
<div class="information-information">
    <h2 class="title">Добро пожаловать в панель управления сайтом!</h2>
    <p class="description">
        An natum nulla eruditi mei, te qui idque adipisci, nonumy graeci has ad. Cu diam dolor
        noluisse nec. Nam ex dicta graeco, audire nominati persequeris eu eos. Pri nibh dolor soleat
        cu, sanctus inermis instructior eum ei. Scripta ceteros sit ex. Et eum alia laudem delectus.
    </p>
</div>