@model Product

@{
    Layout = "_Layout";

}

<form asp-action="Create">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <label asp-for="Category"></label>
    <input asp-for="Category" />
    <label asp-for="Price"></label>
    <input asp-for="Price" />
    <label asp-for="Description" />
    <textarea asp-for="Description"></textarea>
    <input type="submit" value="Create">
</form>
