@using System.Security.Claims;

@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome @Context.User.Identity!.Name</h2>
<h4>Email: @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value</h4>

<a asp-action="Logout" asp-controller="Account">Logout</a>