@{
    ViewData["Title"] = "Home Page";
    var theme = Context.Request.Cookies["theme"] ?? "While";
}



<form asp-action="ChangeTheme" method="post">
    @* asp-items="Html.GetEnumSelectList<ThemeColor>()" *@
     <select name="theme"  class="form-control"> 
        <option selected>@ViewBag.Theme</option>

        @foreach (var item in Enum.GetValues(typeof(ThemeColor)))
        {
            if(ViewBag.Theme != item.ToString())
            {
                <option>@item</option>
            }
        }
    </select>
    <input type="submit" value="Change" class="form-control" />
</form>