@{
    Layout = "~/Views/Panel/_PanelLayout.cshtml";
    ViewData["Title"] = "Добавление категории";
}
@model PizzaStar.ViewModels.CategoryViewModel
 
<div class="row justify-content-center">
    <div class="col-sm-12">
        <div class="well mt-5">
            <h3>Добавление категории</h3>
            <form asp-action="CreateCategory" asp-controller="Category" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Описание</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="File" class="control-label">Изображение</label>
                    <input type="file" class="form-control" asp-for="File" accept="image/*" />
                </div>
                <br />
                <div class="form-group">
                    @Html.AntiForgeryToken()
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>