@model IEnumerable<MVCSTEP.ViewModels.UserViewModel>

<table class="table">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                <a asp-action="GetProfile" asp-route-id="@user.Id">Profile</a>

                <a asp-action="AcceptFriendRequest" asp-route-id="@user.Id">| Accept</a>

            </td>
        </tr>
    }
    </tbody>
</table>