@using MVCSTEP.Enums
@model MVCSTEP.ViewModels.MatrixViewModel

@{
    var first = Model.First ?? new Matrix() {AxisX = 3, AxisY = 3};
    var second = Model.Second ?? new Matrix() {AxisX = 3, AxisY = 3};
    
}

<form asp-action="Calculate" method="post">
    <h3>Select action:</h3>
    <select name="Action" asp-for="Action" asp-items="@Html.GetEnumSelectList<MatrixAction>()" >
    </select>
    <h1>Matrix A</h1>
    <matrix matrix="@first" name="First"></matrix>

    <h1>Matrix B</h1>
    <matrix matrix="@second" name="Second"></matrix>
    <input type="submit" value="send"/>
</form>
@if (Model.Result != null)
{
    <h1>Matrix Result</h1>
    <matrix matrix="@Model.Result" name="Result"></matrix> 
}

