@{
    ViewData["Title"] = "Home Page";
    User user = new User() { Name = "Alex", Age = 18 };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@await Component.InvokeAsync("Time")
<vc:top-rated></vc:top-rated>