@{
    ViewData["Title"] = "Login Page";
}
@model User
 
<form asp-controller="Home" asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
 
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control form-control-custom" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control form-control-custom" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
 
    <div class="mt-3"></div>
 
    <div class="form-group">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">
            Вход
        </button>
    </div>
</form>